/* ==UserStyle==
@name           mastodon narrow 2 columns basic
@namespace      github.com/GHolk
@version        1.1.0
@description    make mastodon web UI in 2 columns, so it works better in narrow window.
@author         gholk
==/UserStyle== */
@-moz-document url-prefix("https://g0v.social/web") {
    @media (max-width: 975px) {
        .columns-area {
            flex-flow: column wrap;
        }
        .columns-area > *:first-child {
            height: 66%;
        }
        .columns-area > * {
            height: 33%;
            width: 50%;
        }
        .columns-area > *:last-child {
            height: 100%;
        }
        /* hide notification header */
        .column-header__wrapper, .notification__filter-bar {
            display: none;
        }
    }
}
